<!DOCTYPE html>
<html lang="ja">
<html xmlns:th="http://www.thymeleaf.org">

</html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link th:href="@{/css/style.css}" rel="stylesheet">
	<title>社員情報一覧</title>
</head>

<body>

	<h2 class="ml-5 mt-2">人事データ一覧</h2>
	<table class="table">
		<tr>
			<th>
				<a href="/regist">
					<button type="button" class="ml-4 mt-4 mb-4 btn btn-outline-primary btn-block text-center"
						style="width:100px;">新規登録</button>
				</a>
			</th>

			<th style="text-align: right;">
				<!-- 検索フォーム -->
				<div class="mb-4">
					<form id="user-search-form" method="post" th:action="@{/index}" class="form-inline"
						th:object="${userListForm}">
						<div class="form-group">
							<label for="employeeId" class="mr-2">社員番号</label>
							<input type="number" class="form-control" th:field="*{employeeId}" />
						</div>
						<div class="form-group mx-sm-3">
							<label for="employeeName" class="mr-2">氏名</label>
							<input type="text" class="form-control" th:field="*{employeeName}" />
						</div>
						<div class="form-group mx-sm-3">
							<label for="anniversary" class="mr-2">入社記念日</label>
							<input type="date" class="form-control" th:field="*{anniversary}" />
						</div>
						<button type="submit" class="mr-4 mt-4 mb-4 btn btn-outline-primary text-center"
							style="width:60px;">検索</button>
					</form>
				</div>
			</th>
		</tr>
	</table>

	<div class="row">
		<div class="col">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col" style="width: 10%;">No</th>
						<th scope="col" style="width: 20%;">氏名</th>
						<th scope="col" style="width: 20%;">Eメール</th>
						<th scope="col" style="width: 15%;">電話番号</th>
						<th scope="col" style="width: 20%;">入社年月日</th>
						<th scope="col" style="width: 40%;">あああああ</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${userList}">
						<td th:text="${item.employeeId}"></td>
						<td th:text="${item.employeeName}"></td>
						<td th:text="${item.mail}"></td>
						<td th:text="${item.phone}"></td>
						<td th:text="${#dates.format(item.anniversary, 'yyyy/MM/dd')}"></td>
						<td>
							<a th:href="@{'/templates/edit/' + ${item.employeeId}}">
								<button type="button" class="mr-4 mt-4 mb-4 btn btn-outline-primary text-center"
									style="width:60px;">
									編集
								</button>
							</a>
						</td>
						<td>
							<form method="post" th:action="@{/templates/delete}" th:object="${UserDetailForm}">
								<input type="hidden" name="employeeId" th:value="${item.employeeId}">
								<button type="submit" name="delete" class="btn btn-outline-primary mt-4 mb-4"
									style="width: 60px;">削除</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
	integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js"
	integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
	crossorigin="anonymous"></script>
</body>

</html>