<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper
3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.repository.UserMapper">
    
    <!-- ユーザー登録 -->
    <insert id="insertOne">
        INSERT INTO employees (
            employee_id, 
            employee_pass, 
            employee_name, 
            mail, 
            phone, 
            anniversary
        ) VALUES (
            #{employeeId}, 
            #{employeePass}, 
            #{employeeName}, 
            #{mail}, 
            #{phone}, 
            #{anniversary}
        )
    </insert>
    
    <select id="findMany" resultType="MUser">
        SELECT * from employees
    </select>
</mapper>